<section class="comparison py-5" id="comparison">
    <div class="container">
        <div class="row   ">
            <div class="col-md-3  card-body border text-center">
                <div class="sub-row">
                    <img src="https://imgd.aeplcdn.com/110x61/cw/specialVersions/4331.jpg?v=20151016013658&q=85">
                    <div class="py-1"></div>
                    <h6>Datsun GO</h6>
                </div>
                <div class="sub-row">
                    <form>
                        <div class="form-group col-md-12">
                                  <select id="inputState" class="form-control">
                                    <option selected>Brand ...</option>
                                    <option> Go</option>
                                    <option> Go Plus</option>
                                    <option> Go Air</option>
                                    <option> Go All</option>
                                  </select>
                        </div>
                    </form>
                </div>
                <div class="sub-row">
                    <form>
                        <div class="form-group col-md-12">
                                  <select id="inputState" class="form-control">
                                    <option selected>Model ...</option>
                                    <option> Go</option>
                                    <option> Go Plus</option>
                                    <option> Go Air</option>
                                    <option> Go All</option>
                                  </select>
                        </div>
                    </form>
                </div>
                <div class="sub-row">
                    <small>Please find all the Offers in your nearby cities. We do not guarantee the exact price.</small>
                </div>
            </div>
            <div class="col-md-3  card-body border text-center">
                <div class="sub-row">
                    <img src="https://imgd.aeplcdn.com/110x61/cw/specialVersions/4331.jpg?v=20151016013658&q=85">
                    <div class="py-1"></div>
                    <h6>Datsun GO</h6>
                </div>
                <div class="sub-row">
                    <form>
                        <div class="form-group col-md-12">
                                  <select id="inputState" class="form-control">
                                    <option selected>Model ...</option>
                                    <option> Go</option>
                                    <option> Go Plus</option>
                                    <option> Go Air</option>
                                    <option> Go All</option>
                                  </select>
                        </div>
                    </form>
                </div>
                <div class="sub-row">
                    <small>Please find all the Offers in your nearby cities. We do not guarantee the exact price.</small>
                </div>
            </div>
            <div class="col-md-3  card-body border text-center">
                <div class="sub-row">
                    <img src="https://imgd.aeplcdn.com/110x61/cw/specialVersions/4331.jpg?v=20151016013658&q=85">
                    <div class="py-1"></div>
                    <h6>Datsun GO</h6>
                </div>
                <div class="sub-row">
                    <form>
                        <div class="form-group col-md-12">
                                  <select id="inputState" class="form-control">
                                    <option selected>Model ...</option>
                                    <option> Go</option>
                                    <option> Go Plus</option>
                                    <option> Go Air</option>
                                    <option> Go All</option>
                                  </select>
                        </div>
                    </form>
                </div>
                <div class="sub-row">
                    <small>Please find all the Offers in your nearby cities. We do not guarantee the exact price.</small>
                </div>
            </div>
            <div class="col-md-3  card-body border text-center">
                <div class="sub-row">
                    <img src="https://imgd.aeplcdn.com/110x61/cw/specialVersions/4331.jpg?v=20151016013658&q=85">
                    <div class="py-1"></div>
                    <h6>Datsun GO</h6>
                </div>
                <div class="sub-row">
                    <form>
                        <div class="form-group col-md-12">
                                  <select id="inputState" class="form-control">
                                    <option selected>Model ...</option>
                                    <option> Go</option>
                                    <option> Go Plus</option>
                                    <option> Go Air</option>
                                    <option> Go All</option>
                                  </select>
                        </div>
                    </form>
                </div>
                <div class="sub-row">
                    <small>Please find all the Offers in your nearby cities. We do not guarantee the exact price.</small>
                </div>
            </div>
	    </div>
	    <div class="row">
	        <div class="col-md-12 card-body bg-primary text-white">
	            <h6>Comparison amongs these</h6>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-md-3  card-body border bg-warning  ">
	            <table class="table  ">
                <tbody>
                  <tr>
                    <td>Length (mm)	</td>
                  </tr>
                  <tr>
                    <td>Width (mm)	</td>
                  </tr>
                  <tr>
                    <td>Height (mm)	</td>
                  </tr>
                  <tr>
                    <td>Seating Capacity (Person)</td>
                  </tr>
                  <tr>
                    <td>Displacement (cc)	</td>
                  </tr>
                  <tr>
                    <td>Fuel Type	</td>
                  </tr>
                  <tr>
                    <td>Max Power (bhp@rpm)	</td>
                  </tr>
                  <tr>
                    <td>Max Torque (Nm@rpm)	</td>
                  </tr>
                  <tr>
                    <td>Mileage (ARAI) (kmpl)	</td>
                  </tr>
                  <tr>
                    <td>Alternate Fuel	</td>
                  </tr>
                  <tr>
                    <td>Transmission Type	</td>
                  </tr>
                  <tr>
                    <td>No of gears (Gears)	</td>
                  </tr>
                  <tr>
                    <td>Drivetrain</td>
                  </tr>
                  <tr>
                    <td>Air Conditioner	</td>
                  </tr>
                  <tr>
                    <td>Power Windows	</td>
                  </tr>
                  <tr>
                    <td>Central Locking	</td>
                  </tr>
                  <tr>
                    <td>Anti-Lock Braking System (ABS)	</td>
                  </tr>
                  <tr>
                    <td>Airbags</td>
                  </tr>
                  <tr>
                    <td>Seat Upholstery	</td>
                  </tr>
                  <tr>
                    <td>Front Tyres	</td>
                  </tr>
                  <tr>
                    <td>Rear Tyres	</td>
                  </tr>
                 
                  
                  
                </tbody>
              </table>
	        </div>
	        <div class="col-md-3  card-body border ">
	            <table class="table  ">
                <tbody>
                  <tr>
                    <td>Length (mm)	</td>
                  </tr>
                  <tr>
                    <td>Width (mm)	</td>
                  </tr>
                  <tr>
                    <td>Height (mm)	</td>
                  </tr>
                  <tr>
                    <td>Seating Capacity (Person)</td>
                  </tr>
                  <tr>
                    <td>Displacement (cc)	</td>
                  </tr>
                  <tr>
                    <td>Fuel Type	</td>
                  </tr>
                  <tr>
                    <td>Max Power (bhp@rpm)	</td>
                  </tr>
                  <tr>
                    <td>Max Torque (Nm@rpm)	</td>
                  </tr>
                  <tr>
                    <td>Mileage (ARAI) (kmpl)	</td>
                  </tr>
                  <tr>
                    <td>Alternate Fuel	</td>
                  </tr>
                  <tr>
                    <td>Transmission Type	</td>
                  </tr>
                  <tr>
                    <td>No of gears (Gears)	</td>
                  </tr>
                  <tr>
                    <td>Drivetrain</td>
                  </tr>
                  <tr>
                    <td>Air Conditioner	</td>
                  </tr>
                  <tr>
                    <td>Power Windows	</td>
                  </tr>
                  <tr>
                    <td>Central Locking	</td>
                  </tr>
                  <tr>
                    <td>Anti-Lock Braking System (ABS)	</td>
                  </tr>
                  <tr>
                    <td>Airbags</td>
                  </tr>
                  <tr>
                    <td>Seat Upholstery	</td>
                  </tr>
                  <tr>
                    <td>Front Tyres	</td>
                  </tr>
                  <tr>
                    <td>Rear Tyres	</td>
                  </tr>
                 
                  
                  
                </tbody>
              </table>
	        </div>
	        <div class="col-md-3  card-body border ">
	            <table class="table  ">
                <tbody>
                  <tr>
                    <td>Length (mm)	</td>
                  </tr>
                  <tr>
                    <td>Width (mm)	</td>
                  </tr>
                  <tr>
                    <td>Height (mm)	</td>
                  </tr>
                  <tr>
                    <td>Seating Capacity (Person)</td>
                  </tr>
                  <tr>
                    <td>Displacement (cc)	</td>
                  </tr>
                  <tr>
                    <td>Fuel Type	</td>
                  </tr>
                  <tr>
                    <td>Max Power (bhp@rpm)	</td>
                  </tr>
                  <tr>
                    <td>Max Torque (Nm@rpm)	</td>
                  </tr>
                  <tr>
                    <td>Mileage (ARAI) (kmpl)	</td>
                  </tr>
                  <tr>
                    <td>Alternate Fuel	</td>
                  </tr>
                  <tr>
                    <td>Transmission Type	</td>
                  </tr>
                  <tr>
                    <td>No of gears (Gears)	</td>
                  </tr>
                  <tr>
                    <td>Drivetrain</td>
                  </tr>
                  <tr>
                    <td>Air Conditioner	</td>
                  </tr>
                  <tr>
                    <td>Power Windows	</td>
                  </tr>
                  <tr>
                    <td>Central Locking	</td>
                  </tr>
                  <tr>
                    <td>Anti-Lock Braking System (ABS)	</td>
                  </tr>
                  <tr>
                    <td>Airbags</td>
                  </tr>
                  <tr>
                    <td>Seat Upholstery	</td>
                  </tr>
                  <tr>
                    <td>Front Tyres	</td>
                  </tr>
                  <tr>
                    <td>Rear Tyres	</td>
                  </tr>
                 
                  
                  
                </tbody>
              </table>
	        </div>
	        <div class="col-md-3  card-body border ">
	            <table class="table  ">
                <tbody>
                  <tr>
                    <td>Length (mm)	</td>
                  </tr>
                  <tr>
                    <td>Width (mm)	</td>
                  </tr>
                  <tr>
                    <td>Height (mm)	</td>
                  </tr>
                  <tr>
                    <td>Seating Capacity (Person)</td>
                  </tr>
                  <tr>
                    <td>Displacement (cc)	</td>
                  </tr>
                  <tr>
                    <td>Fuel Type	</td>
                  </tr>
                  <tr>
                    <td>Max Power (bhp@rpm)	</td>
                  </tr>
                  <tr>
                    <td>Max Torque (Nm@rpm)	</td>
                  </tr>
                  <tr>
                    <td>Mileage (ARAI) (kmpl)	</td>
                  </tr>
                  <tr>
                    <td>Alternate Fuel	</td>
                  </tr>
                  <tr>
                    <td>Transmission Type	</td>
                  </tr>
                  <tr>
                    <td>No of gears (Gears)	</td>
                  </tr>
                  <tr>
                    <td>Drivetrain</td>
                  </tr>
                  <tr>
                    <td>Air Conditioner	</td>
                  </tr>
                  <tr>
                    <td>Power Windows	</td>
                  </tr>
                  <tr>
                    <td>Central Locking	</td>
                  </tr>
                  <tr>
                    <td>Anti-Lock Braking System (ABS)	</td>
                  </tr>
                  <tr>
                    <td>Airbags</td>
                  </tr>
                  <tr>
                    <td>Seat Upholstery	</td>
                  </tr>
                  <tr>
                    <td>Front Tyres	</td>
                  </tr>
                  <tr>
                    <td>Rear Tyres	</td>
                  </tr>
                 
                  
                  
                </tbody>
              </table>
	        </div>
	    </div>
    </div>
</section>